:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}
footer {
  text-align: center;
  background-color: black;
  color: ivory;
  padding: 1rem;
}
.icon-img {
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
}
.project-images {
  height: 100%;
  width: 100%;
}
.description-background {
 background-color: black;
 opacity: 0.75;
}
.small-margin {
  margin: 0.5rem;
}