@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
:root {
  font: 16px / 1 'Source Code Pro', monospace;
}
html {
  height: 100%;
}
body {
  font-family: 'Source Code Pro', monospace !important;
}
footer {
  text-align: center;
  background-color: black;
  color: ivory;
  padding: 1rem;
}
#aDante {
  max-width: 100%;
}
#dAvatar {
  max-width: 100%;
}
.button-bump:hover {
  position: relative;
  bottom: 4px;
}
.center-text {
  text-align: center;
  padding-top: 0.5rem;
}
.chess-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}
.color-ivory {
  color: ivory;
}
.icon-img {
  height: 100px;
  width: 100px;
}
.project-images {
  max-height: 100%;
  max-width: 100%;
}
.description-background {
 background-color: black;
 opacity: 0.75;
}
.small-margin {
  margin: 0.5rem;
}
.underline {
  text-decoration: underline;
}
/* Octocats CSS */

.main-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
.outer-image {
  border-bottom: 1px solid #cacaca;
  margin: 0 12px 22px;
}
.image-area {
  width: 424px;
  height: 424px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 3px;
}
.caption {
  display: flex;
  justify-content: space-between;
}
.caption p {
  color: #cacaca;
  font-weight: bold;
  font-size: 16px;
}
.name-pic img {
  height: 28px;
  width: 28px;
  border-radius: 3px;
  margin-left: 10px;
}


/* Minsweeper styling */

/* span {
  font-size: xx-small;
  padding: 0;
  margin: 0;
}
table {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.tdBox {
  border: 4px solid green;
  background-color: greenyellow;
}
.reveal {
  background-color: white;
  border: 4px solid green;
  padding: 20px;
}
.flag {
  background-color: orange;
  border: 4px solid green;
}
.bomb {
  background-color: red;
  border: 4px solid green;
}
.number {
  background-color: lightgray;
  color: green;
  border: 4px solid green;
  font-size: 20px;
}
.reset-button {
  display: flex;
  justify-content: space-around;
}
.red-message {
  background-color: red;
  text-align: center;
  margin: 0 30% 0 30%;
  border-radius: 12px;
}
.green-message {
  background-color: green;
  text-align: center;
  margin: 0 30% 0 30%;
  border-radius: 12px;
}
.hide {
  display: none;
} */