@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap');
:root {
  font: 16px / 1 'Source Code Pro', monospace;
}
html {
  height: 100%;
}
body {
  font-family: 'Source Code Pro', monospace !important;
}
/* a:hover {
  position: relative;
  bottom: 4px;
} */
footer {
  text-align: center;
  background-color: black;
  color: ivory;
  padding: 1rem;
}
#aDante {
  max-width: 100%;
}
#dAvatar {
  max-width: 100%;
}
.center-text {
  text-align: center;
  padding-top: 0.5rem;
}
.chess-container {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
}
.color-ivory {
  color: ivory;
}
.icon-img {
  height: 100px;
  width: 100px;
}
.project-images {
  max-height: 100%;
  max-width: 100%;
}
.description-background {
 background-color: black;
 opacity: 0.75;
}
.small-margin {
  margin: 0.5rem;
}
.underline {
  text-decoration: underline;
}